/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
@import "font-awesome-sprockets";
@import "font-awesome";

html{
  font-family: 'Fauna One', serif;
}
h2,h3,h4,{
  font-family: 'Playfair Display', serif;
}
#my-menu{
  position: fixed;
  width: 100%;
  background-color : rgba(0,0,0,.5);
  z-index: 1000;
  color: white;
}
#my-menu .dropdown.menu.menu-items{
  background-color : transparent;
}
#my-menu a{
  color: white;
}

#home, #contact{
  min-height: 600px;
  width: 100%;
  background-image: url('http://www.uiip.it/images/UIIP31/Accenture-Why-Big-Data-Needs-Visualization-Succeed-marquee.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#contact{
  min-height: 400px;
}

#my-intro{
  position: absolute;
  top: 30%;
  color: white;
  width: 100%;
}
#contact{
  position: relative;
}
#hobby{
  margin-bottom: 2%;
}
#my-contacts{
  position: absolute;
  bottom: 40%;
  color: white;
  width: 100%;
}
#my-motto, #my-projects, #my-hobby-title{
  margin-top: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-top-style: dashed;
  border-bottom-style: dashed;
}
#myphoto{
  width: 300px;
}

#wrapper{
  margin-left: 5%;
  margin-right: 5%;
}

.my-skills{
  padding-top: 3%;
  background-color: #14213D;
  border-color: white;
  border-style: solid;
}

.orbit img{
  width:32.5%;
}
#my-contacts i{
  margin-left: 2%;
}
#my-contacts a{
  color: white;
}
#my-contacts a:hover{
  color: black;
}

@media (max-width: 641px) {
    #my-menu span {visibility: hidden;}
    #my-menu  {padding-left: 10%;}
}

.dots{
  visibility: hidden;
}
#my-menu a:hover{
  .dots{
    visibility: visible;
  }
}

.my-projects-container{

}
