
<div class="top-bar " id="my-menu">
  <div class="top-bar-right">
    <ul class="dropdown menu menu-items" data-dropdown-menu data-magellan>
      <li ><a href="#home"><i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <span> Home </span> <br><span class = "dots"> . . . . . . . . . . .  </span></a>
      </li>
      <li><a href="#about"><i class="fa fa-female fa-2x" aria-hidden="true"></i>
          <span>About me</span><br><span class = "dots"> . . . . . . . . . . . .  </span></a></li>
      <li><a href="#projects"><i class="fa fa-book fa-2x" aria-hidden="true"></i>
            <span> Projects</span><br><span class = "dots"> . . . . . . . . . . . .  </span></a></li>
      <li><a href="#hobby"><i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
            <span>My hobby</span><br><span class = "dots"> . . . . . . . . . . . . . </span></a>
      </li>
      <li><a href="#contact"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
            <span> Contact me</span><br><span class = "dots"> . . . . . . . . . . . . . . . </span></a>
        </li>
    </ul>
  </div>
</div>

<div class="sections">
  <section id="home" data-magellan-target="home">
    <div id= "my-intro" class = "text-center">
      <h3>HELLO, I AM NATALIA</h3>
      <h3 >I am a full-stack web development student at Ada Developers Academy.</h3>
    </div>
  </section>
  <section id = "wrapper">
    <section id="about" data-magellan-target="about">
      <h3 id ="my-motto" class= "text-center">Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.</h3>
        <section class = "row">
          <section class = "large-4 medium-6 small-12 columns">
            <img src="https://avatars2.githubusercontent.com/u/16643152?v=3&u=d2fc428796969d2b1e8d767ab2a8c280566704e6&s=400" alt="myphoto" id = "myphoto">
          </section>
          <section class = "large-8  medium-6 small-12 columns about-me text-center">
              <p> I'm excited to be transitioning into software development through Ada Developers Academy from my sociology background.
              Enjoying  the process of learning and exploring new things.
              I am passionate about creating new solutions, improving old ones and challencge myself with new problems. </p>
              <p>  I am enjoying the challenge of learning, exploring new things, finding solution to a complex problems and being immersed in full-time
              learning programming at Ada Developers Academy.
              Organized and detail-oriented; able to handle multiple task and due dates.  </p>
          </section>
        </section>
        <div class = "row my-skills-container">
          <div class = "large-3 medium-6 small-12 columns my-skills text-center">
            <h4>Languages</h4>
            <p> Ruby </p>
            <p> SQL </p>
            <p> HTML5&CSS</p>
            <p> Exposure to C# and Java</p>
          </div>
          <div class = "large-3  medium-6 small-12 columns my-skills text-center">
            <h4>Frameworks and tools</h4>
            <p> Ruby on Rails </p>
            <p> Bootstrap, Foundation</p>
            <p> GIT source control </p>
            <p> Agile Development </p>
            <p> Test Driven Development </p>
          </div>
          <div class = "large-3 medium-6 small-12 columns my-skills text-center">
            <h4>Computer science fundamentals</h4>
            <p> data structures</p>
            <p> algorithms</p>
            <p> complexity analysis of algorithms </p>
          </div>
          <div class = "large-3  medium-6 small-12 columns my-skills text-center">
            <h4>Personal skills</h4>
            <p> problem-solving </p>
            <p> fast learner </p>
            <p> ability to handle multiply tasks</p>
            <p> pay attention towards the details</p>
            <p> can work both in a team and self-managed projects</p>
          </div>
        </div>
      </section>

      <section id="projects" data-magellan-target="projects">
        <h2 id ="my-projects" class= "text-center"> EXPLORE MY PROJECTS: </h2>
        <div class = "row my-projects-container">
          <div class = "large-4  medium-6 small-12 columns my-projects text-center">
            <h3>Muncher</h3>
            <p> Ruby on Rails web application that displays recipes based on a search term and search conditions. </p>
            <p> Web applicatin utilizes an API from Edamam called the Recipe Search API.</p>
            <p> <a href="https://natalias-api-muncher.herokuapp.com/">See website</a></p>
            <p> <a href="https://github.com/natalia-ku/api-muncher">Source code</a></p>
          </div>
          <div class = "large-4 medium-6 small-12 columns my-projects text-center">
            <h3>Online shop (Betsy) |Group Project|</h3>
            <p> Online store where a wide variety of products can be listed and sold by any user. </p>
            <p> Merchant can ship their orders and keep track of all of them</p>
            <p> <a href="https://owl-city.herokuapp.com/">See website</a></p>
            <p> <a href="https://github.com/natalia-ku/owl-city-onlineshop-betsy">Source code</a></p>
          </div>
          <div class = "large-4  medium-6 small-12 columns my-projects text-center">
            <h3>Tic-Tac-Toe Game</h3>
            <p> Advanced Tic Tac Toe Game written in Java</p>
            <p> Player can change size of the board </p>
            <p> two</p>
            <p> <a href="https://github.com/natalia-ku/Tic-Tac-Toe-Game">Learn more </a></p>
          </div>
          <div class = "large-4 medium-6 small-12 columns my-projects text-center">
            <h4>My personal website</h4>
            <p> My first website</p>
            <p> Learning HTML5&CSS and Bootstrap Framework</p>
            <p> <a href="http://nataliakuleniuk.stbarvinok.in.ua/"> See website </a></p>
          </div>
          <div class = "large-4  medium-6 small-12 columns my-projects text-center">
            <h3> RideShare |Pair Project|</h3>
            <p> Website models a small community ridesharing app</p>
            <p> <a href="https://github.com/natalia-ku/rideshare-rails">Source code</a></p>
          </div>
          <div class = "large-4  medium-6 small-12 columns my-projects text-center">
            <h3> MediaRanker</h3>
            <p> Webapp where users can upvote and downvote for their favorite pieces of media.</p>
            <p> <a href="https://natalias-mediaranker.herokuapp.com/"> See website </a></p>
            <p> <a href="https://github.com/natalia-ku/MediaRanker">Source code</a></p>
          </div>
        </div>
      </section>
      <section id="hobby" data-magellan-target="hobby">
        <h3 id ="my-hobby-title" class= "text-center"> When I am not at Ada Developers Academy and have spare time, I enjoys baking:</h3>
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
          <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            <li class="is-active orbit-slide">
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/1.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/5.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/29.jpg">
              </a>
            </li>
            <li class="orbit-slide">
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/11.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/12.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/30.jpg">
              </a>
            </li>
            <li class="orbit-slide">
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/31.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/32.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/2.jpg">
              </a>
            </li>
            <li class="orbit-slide">
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/14.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/13.jpg">
              </a>
              <a class="th" href="#">
                <img src="http://nataliakuleniuk.stbarvinok.in.ua/img/food/27.jpg">
              </a>
            </li>
          </ul>
        </div>

      </section>
    </section>

  </section>
  <section id="contact" data-magellan-target="contact">

    <div id= "my-contacts" class = "text-center">
      <h2> CONTACT ME IF YOU HAVE ANY QUESTIONS</h2>
      <h3>I am always open for new opportunities</h3>
      <p> <a href="https://github.com/natalia-ku"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/natalia-kuleniuk-667198107/"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
        <a href="mailto:nataliakuleniuk@gmail.com"><i class="fa fa-envelope-open-o  fa-4x" aria-hidden="true"></i></a>
       </p>
    </div>
  </section>
</div>
